<div class="form-group">
                                                    <label class="col-xs-2  control-label labelForm">Desde: </label>
                                                    <div class="col-md-4">
                                                        
                                                        <p class="input-group">
                                                            <input type="text" class="form-control" ng-change="rangeChanged()" uib-datepicker-popup="dd/MM/yyyy" ng-model="after" is-open="isAfterOpen" placeholder="Desde" close-text="Close" />
                                                            <span class="input-group-btn"> 
                                                        <button type="button" class="btn btn-primary" ng-click="openAfter($event)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                        </span>
                                                        </p>
                                                        <!--p class="input-group">

                                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="desde" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                              </span>
                                                        </p-->
                                                    </div>
                                                    <label class="col-xs-2 control-label labelForm">Hasta: </label>
                                                    <div class="col-md-4">
                                                        <p class="input-group">
                                                            <input type="text" class="form-control" ng-change="rangeChanged()" uib-datepicker-popup="dd/MM/yyyy" ng-model="before" is-open="isBeforeOpen" placeholder="Hasta" close-text="Close" />
                                                            <span class="input-group-btn"> 
                                                            <button type="button" class="btn btn-primary" ng-click="openBefore($event)">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                            </span>
                                                        </p>
                                                        <!--p class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="hasta" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                        </p-->
                                                    </div>
                                                </div>
